@font-face {
  font-family: "Roboto Condensed";
  font-display: swap;
  src: url("../fonts/roboto-condensed/roboto-condensed.woff2") format("woff2"), url("../fonts/roboto-condensed/roboto-condensed.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed Bold";
  font-display: swap;
  src: url("../fonts/roboto-condensed/roboto-condensed-bold.woff2") format("woff2"), url("../fonts/roboto-condensed/roboto-condensed-bold.woff") format("woff");
}

@font-face {
  font-family: "PT Mono";
  font-display: swap;
  src: url("../fonts/pt-mono/ptmono-regular.woff2") format("woff2"), url("../fonts/pt-mono/ptmono-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/roboto/roboto-medium.woff2") format("woff2"), url("../fonts/roboto/roboto-medium.woff") format("woff");
}
