$tablet-width: 767px;
$desktop-width: 1023px;
$main-color-dark-block: #ffffff;
$auxiliary-color: #00b2ff;
$main-font: "PT Mono", "Georgia", serif;
$title-font: "Roboto Condensed", "Aria", sans-serif;
$title-bold-font: "Roboto Condensed Bold", "Aria", sans-serif;
$secondary-font: "Roboto", "Aria", sans-serif;
